.price {
  font-size: 16px;
  line-height: 22px;
  color: gray;
  font-style: italic;
}
@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.product-card {
  animation: zoomIn 0.5s ease-in-out forwards;
  opacity: 0;
  transform: scale(0.5);
  border:none;
}
.product-title{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 15px;
  font-style: italic;
}
