.cartContainer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.sectionTitle {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-style: italic;
}

.cart-row {
    display: flex;
    justify-content: space-between;
}

.cartItems {
    background-color: #fff;
}



